.options-display {
  padding: 20px;
}

.shift-query {
  margin-left: 10px;
}

.view-shift-queries {
  padding: 30px;
}

.view-shift-queries span {
  display: inline-block;
  margin-right: 1.25em;
}

.view-request-times .is-active {
  background-color: #f7f7f7;
}
